@{
    ViewData["Title"] = "Home Page";
}

<p>The Cardinal Swing Society presents: </p>
<h1>The Cardinal Swing Festival</h1>
<p>put description here</p>
<h2>Instructors</h2>
<div id="instructorCarousel" class="carousel slide" data-ride="carousel"></div>

<h2>Bands</h2>
<h2>Where you'll be dancing</h2>
