@{
    ViewData["Title"] = "Home Page";
}
<header><link rel="stylesheet" href="~/css/Index.css" /></header>

<div id="welcome">
    <div class="welcomeText">The Cardinal Swing Society is proud to present:</div>
    <div id="festivalTitle" class="welcomeText">The Cardinal Stomp-Off</div>
    <div class="welcomeText" id="festivalDates">15-17 March | 2019</div>
</div>
<div class="container indexContent">

    <h2 class="section">The Cardinal Stomp-off</h2>
    <div class="row">The dancers of the Cardinal Swing Society are incredibly excited to host our first ever Cardinal Stomp-off! Designed to be a low-cost festival for college students and those on a budget, we hope to do our part in growing the Lindy Hop community of the Midwest by offering a festival more easily accessible for anyone who wants to dance, specifically those who are just starting to explore the wider Lindy Hop community; so whether you are new to swing and looking to expand your Lindy context, a seasoned dancer looking to jam or anyone in between we hope that you will join us in spreading our love of swing on college campuses and in the wider Midwest!</div>

    <h2 class="section">Instructors</h2>

    <div class="instructor">
        <div class="row instructorName"><strong>Austin Neverman</strong></div>
        <div class="row instructorContent">
            <div class="col-md-3 instructorImage"><img src="~/images/AustinNeverman.jpg" /></div>
            <div class="col-md-9">
                <div>Austin Neverman is a dance enthusiast and professional instructor based in Portland, Oregon. He competes and performs internationally, as both a Lead and a Follow. Austin began growing his native Iowan swing scene in 2009, and since 2012 has expanded his professional repertoire to include Ballroom dancing, Argentine Tango, and West Coast Swing (to name a few). On any given week you can find Austin playing DJ at Stumptown Dance, dishing out moves for The Portland Lindy Society, or coaching his students individually. While his dancing incorporates many influences, he strives to project a playful ethos, accented by dynamic choices.</div>
            </div>
        </div>
    </div>

    <div class="instructor">
        <div class="row instructorName"><strong>Kali Henson</strong></div>
        <div class="row instructor">
            <div class="col-md-3 instructorImage"><img class="kali" src="~/images/KaliHenson.jpeg" /></div>
            <div class="col-md-9">
                <div>
                    Kali Henson is a Kansas native who began dancing Lindy Hop in 2010. She was president of her college swing club in 2012 and began teaching Lindy Hop, Ballroom and Latin in 2013 at a professional dance studio in Iowa. Kali moved to Portland in 2015 and enjoys teaching, competing and performing. She has won placements in Blues and Lindy Hop  competitions throughout the Midwest and West Coast. Kali also currently leads The Portland Rhythm Shakers, a professional solo jazz troupe that performs throughout Oregon and Washington State.
                </div>
            </div>
        </div>
    </div>

    <div class="instructor">
        <div class="row instructorName"><strong>Travis Belgarde</strong></div>
        <div class="row instructor">
            <div class="col-md-3 instructorImage"><img src="~/images/Travis.JPG" /></div>
            <div class="col-md-9">
                <div>
                    Travis Belgarde is a dancer from Central Iowa who was first introduced to swing in 2008. He was a farm boy with no prior formalized dance experience, but quickly learned to love the role of jitterbug. Travis has competed occasionally in the Midwest. Most recently, he placed 2nd in the Showcase Competition and 2nd in the Fast Dance Battle Contest at Heartland Swing Festival (April 2017). Other achievements include placing 2nd at Heartland Swing Festival in the Showcase Competition in 2014, 1st in “AnySwing Goes” at Cowtown Jamborama in 2013. Travis enjoys creating and innovating new dance moves and always incorporates musicality. He gives the dance some unique character and can throw down a wide range of aerials. <br />Travis now teaches regular dance lessons with his wife, Jill at the Des Moines Social Club and is in the start-up phase of launching an online operation called Dewdropper Swing School. Stay tuned for new lessons!
                </div>
            </div>
        </div>
    </div>

    <div class="instructor">
        <div class="row instructorName"><strong>Jill Belgarde</strong></div>
        <div class="row instructor">
            <div class="col-md-3 instructorImage"><img src="~/images/Jill.JPG" /></div>
            <div class="col-md-9">
                <div>
                    Jill Belgarde is from Central Iowa and a long-time fan of swing and rock & roll music which fostered her interest in swing at an early age. She began learning lindy in 2004 and has been an avid swing dancer ever since! Jill & her husband, Travis compete occasionally in the Midwest. Most recently, they placed 2nd in the Showcase Competition and 2nd in the Fast Dance Battle Contest at Heartland Swing Festival (April 2017). Other achievements include placing 2nd at Heartland Swing Festival in the Showcase Competition in 2014, 1st in “AnySwing Goes” at Cowtown Jamborama in 2013, Jill placing 1st in “solo Jazz” at Cowtown Jamborama in 2012, and various other small competitions throughout the years. Along with Lindy Hop, Jill particularly enjoys collegiate Shag, 1920s Charleston, Boogie Woogie and Aerials and believes musicality and creativity are essential parts of the dance.<br />Jill has been an ambassador of swing in Central Iowa by performing and teaching in Des Moines. She enjoys working with new dancers and expanding the population of jitterbugs in the Midwest!
                </div>
            </div>
        </div>
    </div>

    <h2 class="section">Bands</h2>

    <div class="instructor">
        <div class="row instructorName"><strong>Sweetie & The Toothaches</strong></div>
        <div class="row">
            <div class="col-md-4 instructorImage">
                <img src="~/images/Sweetie.jpg" />
            </div>
            <div class="col-md-8">
                <div>Sweetie & The Toothaches aim to please by bringing you the sure fire authentic sights and sounds of the 1930's -1960's jump blues scene. You'll laugh, you'll cry and there's no doubt that you'll be moving your body when you hear the powerful vocals of Emilie "Sweetie" Richard and her sensational Toothaches! Be prepared to be blown away as this Saint Louis show band hits your square in the mouth hole with their brand of sinfully sweet songs, hot and ready rhythms, heavenly harmonies and savory solos! It's safe to say that after you get a taste of this full bodied jump band, you'll be sure to leave with a permanent sweet tooth. See you all on the boogie field!</div>
            </div>
        </div>
    </div>

    <h3>....and more!</h3>
</div>